<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AsyncTestKit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ACD23975198656B20070AAB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ACD23985198656B30070AAB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ACD239A2198657E20070AAB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ACD239A91986638B0070AAB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
